<p id="notice"><%= notice %></p>

<h3 class="text-center">Your Confirmed Ticket</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%# @myticketsapibooked.each do |myticketsfromapi| %>
          <%# @myticketsapibooked.each_slice do |key, value| %>
      <div class="jumbotron">
    
        <div class="row">
          <div class="col-xs-15">
            <center>
              <pre> 
                <p> <strong>Customer Name:</strong>        <%= @myticketsapibooked["name"] %> </p>
                <p> <strong>Age:</strong>                  <%= @myticketsapibooked["age"] %> </p>
                <p> <strong>Child Child:</strong>          <%= @myticketsapibooked["cticket"] %> </p>
                <p> <strong>Adult Child:</strong>          <%= @myticketsapibooked["aticket"] %> </p>
                <p> <strong>Travel From:</strong>          <%= @myticketsapibooked["from"] %> </p>
                <p> <strong>Travel To:</strong>            <%= @myticketsapibooked["to"] %> </p>
                <p> <strong>Total Cost:</strong>           <%= @myticketsapibooked["cost"] %> </p>
                <p> <strong>Class of Travel:</strong>      <%= @myticketsapibooked["tclass"] %> </p>
                <p> <strong>Date of Travel:</strong>       <%= @myticketsapibooked["tdate"] %> </p>
                <p> <strong>Return:</strong>               <%= @myticketsapibooked["treturn"] %> </p>
              </pre>
            </center>
          </div>
        </div>
        </div>
    <%# end %>
  </div>
  
</div>
<center>
        <%= link_to 'Back to Home Page', home_url,class: "btn btn-danger"  %> &nbsp; &nbsp;
        <%#= link_to 'Download Ticket', { :action => "pdfticket", :format => :pdf },class: "btn btn-danger"  %> &nbsp; &nbsp;
        <%#= link_to 'download', pdfticket_path(@myticketsapibooked) %>
        <strong><%#= will_paginate @myticketsapibooked %></strong>
</center>
