<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @ticket.age %>
</p>

<p>
  <strong>Aticket:</strong>
  <%= @ticket.aticket %>
</p>

<p>
  <strong>Cticket:</strong>
  <%= @ticket.cticket %>
</p>

<p>
  <strong>Tfrom:</strong>
  <%= @ticket.tfrom %>
</p>

<p>
  <strong>Tto:</strong>
  <%= @ticket.tto %>
</p>

<p>
  <strong>Tclass:</strong>
  <%= @ticket.tclass %>
</p>

<p>
  <strong>Treturn:</strong>
  <%= @ticket.treturn %>
</p>

<p>
  <strong>Tvhour:</strong>
  <%= @ticket.tvhour %>
</p>

<p>
  <strong>Tvdate:</strong>
  <%= @ticket.tvdate %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @ticket.proof %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
