<%= form_tag "/longtraincreation" do %>
<h1>Train Instantiation</h1>
<br>

  <div class="field">
  <strong>  <%= label_tag 'No of Seats Required' %> </strong>&nbsp; <%= number_field_tag :seatCount %>
  </div>
  <br>
  <div class="field">
    <%= label_tag 'Travel Start Date' %> </strong> &nbsp;<%= date_field_tag :startDate %>
  </div>
  <br>
  <div class="field">
    <%= label_tag 'Travel End Date' %> </strong> &nbsp;<%= date_field_tag :endDate %>
  </div>
  <br>
  <div class="field">
    <%= label_tag 'Already filled seates' %> </strong> &nbsp;<%= number_field_tag :filledSeates %>
  </div>
<center>
  <div class="actions">
    <%= submit_tag 'Create Train Tickets',class: "btn btn-danger"  %> <tab></tab> <%= link_to 'Back to Home', home_url,class: "btn btn-danger"  %>
  </div>
</center>
<% end %>
